.contact{
    background-color: $jelly-bean;
    color: $white;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

.contact__title{
    font-size: $x-large;
    $font-weight: $bold;
    margin-bottom: 30px;
}