.landing-title{
    background-color: $jelly-bean;
    text-align: center;
    color: $white;
    padding: 250px 0;
}

.landing-title__title{
    font-size: $xx-large;
    font-weight: $extra-light;
}

.landing-title__title-linea2{
    font-weight: $bold;
    display: block;
}

