.nosotros_articles{
    padding: 0 15%
}

.nosotros__title{
    background-color: $jelly-bean;
    color: $white;
    text-align: center;
    font-size: $xx-large;
    padding-top: $xx-large;
    padding-bottom: $xx-large;
}